.contact {
  height: 100vh;
  background-color: #8d587d;
  padding: 6rem 1rem;
}
.contact h4 {
  padding: 3rem 0;
  color: whitesmoke;
  justify-content: center;
  text-align: center;
}
.reg-btn {
  background-color: whitesmoke;
  border: none;
  outline: none;
  display: grid;
  grid-template-columns: 1fr;
  width: 40%;
  margin: 1rem auto;
  border-radius: 10px;
  padding: 1rem;
  color: #8d587d;
  font-weight: bold;
}
